{{ define "title"}} {{ .Title }} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="demo-container" class="is-container">
  {{ partial "aboutmenu" . }}
  <div id="demo-content">
  <div id="hero" class="wrap">
  <h1>{{ .Title }}</h1>
  {{if .Description }}
  <p>{{.Description}}</p>
  {{end}}
</div>

<div id="post-box">
  <div id="post" itemprop="articleBody">

      {{.Content | safeHTML}}

  </div>
</div>
</div>
</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
